.post{
    .header__post{
        font-size: 40px;
        color: crimson;
    }
    .post{
        width: 500px;
        margin: 0 auto;
        font-size: 30px;
        text-align: justify;
    }
    .post__img{
        width: 200px;
        height: 200px;
    }
}