.postlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .post-item-wrapper{
        display: block;
        width: 30%;
        .post-item {
            color: #000;
            text-decoration: none !important;
            padding: 10px 20px;
            height: 95px;
            overflow: hidden;
            box-shadow: 0px -25px 5px -5px rgb(0, 0, 0) inset;
        }
        a.text-link{
            display: block;
            color: rgba(255, 50, 50, 0.705);
            margin-top: -20px;
            text-decoration: none;
        }
        a.text-link:hover{
            color: red;
        }           
    }
 
}
